#include "C:\Program Files (x86)\National Instruments\Shared\MSDTRedistributables\SDKHeaderFiles\8.1\winver.h"

2 ICON "c:\\Users\\Manuel\\Desktop\\ExperimentControl\\Control\\wheelwork.ico"

STRINGTABLE DISCARDABLE
BEGIN
  65535  "Experiment Control"
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 5,0,0,0
 PRODUCTVERSION 5,0,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x1L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "\0"
            VALUE "FileDescription", "Experiment Control (Debug x86)\0"
            VALUE "InternalName", "ExperimentControl_dbg\0"
            VALUE "LegalCopyright", "Copyright © S. Kuhr, 2009\0"
            VALUE "OriginalFilename", "ExperimentControl_dbg.exe\0"
            VALUE "ProductName", "Experiment Control\0"
            VALUE "ProductVersion", "5\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 0x4b0
    END
END

UIR:common.uir UIRFileType "c:\\Users\\Manuel\\Desktop\\ExperimentControl\\Control\\UIR_common.uir"
UIR:ExperimentControl.uir UIRFileType "c:\\Users\\Manuel\\Desktop\\ExperimentControl\\Control\\UIR_ExperimentControl.uir"
UIR:TCP:IP.uir UIRFileType "c:\\Users\\Manuel\\Desktop\\ExperimentControl\\Control\\UIR_TCP_IP.uir"