[Config]
nChannels = 3
filnameIAK = "config_S15a.iak"
FPresource = "FP @ 129_199_119_23"
dataSocketServer = "dstp://troubadix.lkb.ens.fr"
beeperActive = 1
moduleBeeper = "FP-DO-403 @7"
chBeeper = "Channel 0"
panelWidth = 1160
panelHeight = 213
beep = 1
soundActive = 0
soundFilename = ""

[WatchdogChannel0]
name = "laser 0"
module = "FP-AI-100 @5"
channel = "Channel 0"
active = 1
watch = 1
detectionMode = 2
thresholdFixedUpper = 2
thresholdFixedLower = 1
thresholdDiff = 0.5
thresholdDiffAverages = 5
nPoints = 500
nAverage = 1
timeInterval = 100
monitorChannel = 0
saveMinutes = 10
changeUnits = 0
scaleVolts = 1
scaleToUnit = 1
scaleUnit = "?"
saveFilename = ""
window = "4,-1,-1,-1,-1"

[WatchdogChannel1]
name = "laser 1"
module = "FP-AI-100 @5"
channel = "Channel 0"
active = 1
watch = 1
detectionMode = 2
thresholdFixedUpper = 2
thresholdFixedLower = 1
thresholdDiff = 0.5
thresholdDiffAverages = 5
nPoints = 500
nAverage = 1
timeInterval = 100
monitorChannel = 0
saveMinutes = 10
changeUnits = 0
scaleVolts = 1
scaleToUnit = 1
scaleUnit = "?"
saveFilename = ""
window = "4,-1,-1,-1,-1"

[WatchdogChannel2]
name = "laser 2"
module = "FP-AI-100 @5"
channel = "Channel 0"
active = 1
watch = 1
detectionMode = 2
thresholdFixedUpper = 2
thresholdFixedLower = 1
thresholdDiff = 0.5
thresholdDiffAverages = 5
nPoints = 500
nAverage = 1
timeInterval = 100
monitorChannel = 0
saveMinutes = 10
changeUnits = 0
scaleVolts = 1
scaleToUnit = 1
scaleUnit = "?"
saveFilename = ""
window = "4,-1,-1,-1,-1"

